# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Vector DB & Storage
chroma_db/

# Logs
logs/*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/config.toml

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
